.first{
    color: skyblue3+66+++++++++++3333333333;
    font-weight: bold;
}

h1{
    background-color: black;
    color: white;
    font-weight: bold;
}

h2{
    background-color: blueviolet;
    color: white;
    text-align: center;
}

h3{
    color:black;
    background-color:skyblue;
    text-align: right;
    text-decoration: underline;
    font-weight: lighter;
}